*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    background-color: blueviolet;
    width: 50%;
    height: 50vh;
    border: solid 5px ;   
}

.item{
    align-items: flex-start;
    margin-right: auto;
    background-color: orange;
    height: 30vh;
    width: 20%;
    border-radius: 20%;
    border: solid 5px;
    box-shadow: inset 5px 5px 20px white;
}

.one{
    height: 25vh;
    
}

.two{
    height: 35vh;
}

.three{
    height: 15vh;
}

.four{
    height: 20vh;
}

.second{
    align-items: center;
}